html {
	font-family: 'Atkinson Hyperlegible', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.1em;
	line-height: 1.6;
	scroll-behavior: smooth;
	background: hsl(161, 100%, 97%);
	background: linear-gradient(120deg, hsl(281, 100%, 97%) 0%, hsl(161, 100%, 97%) 100%);
	padding: 0 1em;
}
body {
	max-width: 75ch;
	margin: auto;
}
article {
	margin: 10em 0;
}
article > h1,
article > h2 {
	padding-top: 5em;
}
.btn,
.copy-btn {
	display: inline-block;
	border-radius: 0.5em;
	cursor: pointer;
	box-shadow: 0px 0.8px 0.4px rgba(0, 0, 0, 0.028), 0px 2.7px 1.3px rgba(0, 0, 0, 0.042),
		0px 12px 6px rgba(0, 0, 0, 0.07);
	transition: box-shadow 0.2s ease-in-out;
	font: inherit;
	border: 1px solid gray;
}
.btn {
	border: 1px solid gray;
	background-color: white;
	padding: 0.5em 1em;
}
.copy-btn {
	background-color: #2e3440;
	color: white;
	opacity: 0.6;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.copy-btn:hover {
	opacity: 1;
}

input,
select {
	display: inline-block;
	border-radius: 0.5em;
	border: 1px solid gray;
	background-color: white;
	padding: 0.5em 1em;
	margin: 1em 0;
	font: inherit;
	box-sizing: border-box;
	height: 3em;
}
label {
	display: flex;
	flex-direction: column;
	max-width: 420px;
}
label input,
label select {
	margin-top: 0.25em;
}
.btn:hover {
	box-shadow: 0 0.3px 1.4px rgba(0, 0, 0, 0.068), 0 0.7px 3.5px rgba(0, 0, 0, 0.098),
		0 1.4px 7.1px rgba(0, 0, 0, 0.122), 0 2.9px 14.6px rgba(0, 0, 0, 0.152),
		0 8px 40px rgba(0, 0, 0, 0.22);
}

code {
	font-family: 'Fira Code', monospace;
}

pre {
	max-width: 100%;
	overflow-y: auto;
	position: relative;
}

pre[class*='language-'] button {
	position: absolute;
	top: 4px;
	right: 4px;

	/* more stuff */
}

summary {
	cursor: pointer;
}

kbd {
	font-family: 'Fira Code', monospace;
	font-size: 0.8em;
	border: 1px solid gray;
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
}

.toybox .demo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	background-color: hsl(220, 16%, 22%);
	border-start-start-radius: 0.3em;
	border-start-end-radius: 0.3em;
}
.toybox pre {
	border-radius: 0;
}
.toybox .controls {
	display: flex;
	align-content: space-around;
	flex-wrap: wrap;
	/* flex-direction: column; */
	gap: 1em;
	padding: 1em;
	background-color: hsl(220, 16%, 22%);
	color: white;
	border-end-end-radius: 0.3em;
	border-end-start-radius: 0.3em;
}

.namespace {
	opacity: revert !important;
}
