@import './props.css';

html,
body {
	margin: 0;
	padding: 0;
}

html:focus-within {
	scroll-behavior: smooth;
}

html {
	padding: 0 1em;
	background: var(--bgg);
	background: linear-gradient(120deg, var(--bg) 0%, var(--bgg) 100%);
	color: var(--fg);
	font-family: 'Atkinson Hyperlegible', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.1em;
	line-height: 1.6;
}

body {
	max-width: 75ch;
	margin: auto;
	padding-top: 1px; /* hack: fix collapsing margin */
}

:root {
	--b: hsl(0deg 0% 100%);
	--bg: hsl(281deg 100% 97%);
	--bgg: hsl(161deg 100% 97%);
	--accent: hsl(281deg 50% 42%);
	--hi: hsl(161deg 50% 42%);
	--fg: hsl(0deg 0% 0%);
	--code-bg: hsl(220, 16%, 22%);
	--code-border: hsl(220deg 16% 32%);
}

.dark-theme {
	--b: hsl(0deg 0% 0%);
	--bg: hsl(281deg 100% 3%);
	--bgg: hsl(161deg 100% 3%);
	--accent: hsl(281deg 50% 58%);
	--hi: hsl(161deg 50% 58%);
	--fg: hsl(0deg 0% 100%);
}

article,
footer {
	margin: 10em 0;
}

article > h1,
article > h2 {
	padding-top: 2.5em;
}

input,
select {
	display: inline-block;
	border-radius: 0.5em;
	border: 1px solid var(--hi);
	background-color: var(--b);
	padding: 0.5em 1em;
	margin: 0;
	font: inherit;
	box-sizing: border-box;
	height: 3em;
}

label {
	display: flex;
	flex-direction: column;
	max-width: 420px;
}

code {
	font-family: 'Fira Code', monospace;
}

pre {
	max-width: 100%;
	overflow-y: auto;
	box-shadow: var(--card-shadow);
	border: 1px solid var(--hi);
}

summary {
	cursor: pointer;
}

kbd {
	font-family: 'Fira Code', monospace;
	font-size: 0.8em;
	background-color: var(--b);
	border: 1px solid var(--hi);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
}

.btn,
.copy-btn {
	display: inline-block;
	border-radius: 0.5em;
	cursor: pointer;
	transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
	font: inherit;
	border: 1px solid var(--hi);
	background-color: var(--background);
}

.btn {
	--background: var(--b);
	padding: 0.5em 1em;
}

.copy-btn {
	--background: var(--code-bg);
	float: right;
	color: var(--bg);
}

.btn:hover,
.copy-btn:hover {
	box-shadow: var(--button-shadow-hover);
	border-color: var(--background);
}

.toybox {
	border-radius: 0.3em;
	overflow: hidden;
	border: 1px solid var(--hi);
	box-shadow: var(--card-shadow);
}

.toybox .demo {
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--code-bg);
	background-image: radial-gradient(var(--code-border) 10%, transparent 0%);
	background-position: 50% 50%;
	background-size: 16px 16px;
}

.toybox pre {
	border-radius: 0;
	margin: 0;
	box-shadow: none;
	border: none;
}

.toybox .controls {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
	padding: 1em;
	background-color: var(--code-border);
	color: var(--b);
	border-top: 0;
}

@media only screen and (max-width: 745px) {
	.toybox .controls {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 510px) {
	.toybox .controls {
		grid-template-columns: 1fr;
	}
}

.card {
	background-color: var(--b);
	border-radius: 0.3em;
	padding: 1em;
	box-shadow: var(--card-shadow);
}

.namespace {
	opacity: initial !important;
}

code[class*='language-'],
pre[class*='language-'] {
	font-variant-ligatures: none;
}
